body {
	background-color: #eee;
}

.site-container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 25px 0;
}

.is-highlighted-text {
	color: #06c !important;
}

.is-caution-text {
	color: #ff8c00 !important;
}

.is-warning-text {
	color: #ff2a1b !important;
}

.is-success-text {
	color: #00b51a !important;
}

.is-light-text {
	color: #999 !important;
}

.hero-head .title strong {
	font-weight: bold;
}

.hero-head .title {
	padding: 20px 12px;
}

.hidden {
	display: none;
}

.gallery-image {
	max-height: 85px;
}