/************** Default Elements *******************/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* hide from IE mac \*/ 
html {
	min-height: 100%;
	margin-bottom: 1px;
}
/* end hiding from IE5 mac */

body {
	background: #356384;
	font: .95em/120% Arial, Helvetica, sans-serif;
	color: #3C5059;
}

/************** Layout Elements *******************/

#wrapper {
	width: 770px;
	margin: 0 auto 30px;
	text-align: left;
	font-size: 80%;
	background: #356384 no-repeat 5px 5px;
	padding-top: 30px;
	position: relative;
} 
#strap img {
	padding-left: 100px;
	height: 116px;
	width: 113px;
	top: -20px;
}


#wrapper ul {
	list-style-type: none;
	position: absolute;
	top: 0;
	right: 0;
	border-right: 2px solid #000000;
	margin-right: 2px;
}

#wrapper li {
	display: inline;
	float: right;
	margin: 0;
	background: url(../images/off.gif) left bottom no-repeat;
	margin-right: -1px;
}


#innerwrapper {
	background: #fff url(../../images/IwrapperBG.jpg) no-repeat 0 0;
	padding: 30px 15px 15px 15px;
}

#header img {
	float: left;
}

#strap {
	width: 738px;
	height: 198px;
	background: url(../../images/strapBG.jpg) no-repeat 0 0;
	margin: 10px auto 15px auto;
	clear: right;
	border: 1px solid #356384;
}


#LeftCol {
	float: left;
	width: 150px; 
	min-height: 200px;
}

#LeftCol ul {
	list-style-type: none;
	border-top: 1px solid #363c3c;
	border-left: 1px solid #363c3c;
	border-right: 1px solid #363c3c;
	width: 150px;
	margin-top: 3px;
	position: static; /*Overrides the absolute positioning on the wrapper ul*/
}

#LeftCol li {
	display: block;
	float: none;
	margin: 0;
}


#RightCol {
	float: right;
	width: 180px;
	min-height: 200px;
	margin-top: 15px;
}

#RightCol img {
	display: block;
	margin: 10px auto;
}

#content {
	width: 380px;
	margin: 0 190px 0 170px;
	min-height: 300px;
	padding-top: 1px;
}
#content_wide {
	width: 560px;
	min-height: 300px;
	padding-top: 1px;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 170px;
}
#content_wide table tr td a {
	color: #356384;
	margin: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
}


#current_news img {
	text-align: center;
	width: 212px;
	left: auto;
	right: auto;
}


#footer {
	background: #FFFFFF url(../images/footerBG.gif) no-repeat bottom;
	min-height: 25px;
}

#BottomFooter {
	background: #356384;
	width: auto;
}
h2,/************** Text Elements *******************/ h3, h4, h5, h6  {
	margin: 0 0 15px 0;
	padding: 0 0 0 0;
	color: #3C5059;
	font: 150% Arial, Helvetica, sans-serif;
}
h1 {
	margin: 0 0 15px 0;
	padding: 0 0 0 0;
	color: #316177;
	border-bottom: thin solid #50636A;
	font: 140% Arial, Helvetica, sans-serif;
}


h2 {
	font-size: 140%;
}

h3 {
	font-size: 130%;
	font-weight: bold;
}

h4 {
	font-size: 90%;
	font-weight: normal;
}

h5 {
	font-size: 90%;
	font-weight: bolder;
	color: #356384;
	text-transform: uppercase;
	letter-spacing: .1em;
}

h6 {
	font-size: 90%;
	font-weight: bold;
	color: #FFFFFF;
	border-top: thin dotted #356384;
	border-bottom: thin dotted #356384;
	background: #356384;
	text-transform: uppercase;
	letter-spacing: .2em;
	padding-left: 5px;
}

p {
	margin: 10px 0;
}

#BottomFooter p {
	margin: 0;
	padding: 10px;
	color: #999;
	font-size: 75%;
	float: right;
}

/************** Form Elements *******************/
#header form {
	float: right;
	width: 280px;
}

input.log {
	width: 100px;
	font-size: 120%;
	border: 1px solid #999;
}

#RightCol form {
	width: 180px;
}

/************** Generic Classes *******************/

.right {
	float: right;
	margin-left: 8px;
}

.left {
	float: left;
	margin-right: 8px;
}

.clearfloat {
	clear: both;
   height: 0;
   font-size: 0;
   line-height: 0;
}

/************** Link Styles *******************/

#LeftCol li a {
	display: block;
	padding: 2px;
	background: #316177;
	color: #CCCCCC;
	text-decoration: none;
	border-bottom: 1px solid #363c3c;
	font-size: 95%;
}

#LeftCol li a:hover, #LeftCol li a:focus {
	background: #343645;
	color: #c1d4de;
}

#LeftCol li.current a {
	display: block;
	background: #3D4750;
	padding: 2px;
	;
	text-decoration: none;
	color: #FFFFFF;
	border-bottom: 1px solid #363c3c;
	font-weight: bold;
}

#wrapper a {
  float: left;
  display: block;
  padding: 3px 10px 8px 10px;
  text-decoration: none;
  font-weight: bold;
  color: #ccc;
}
  
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#wrapper a {
float: none;
}
/* End IE5-Mac hack */


#wrapper a:hover, #wrapper a:focus {
  color: #fff;
}
  
#wrapper #current {
	color: #FFFFFF;
	background: url(../../images/on.gif);
 }
  
 /*\*//*/
#LeftCol a {
	float: none;
}
#footer {
	height: 25px;
}

/**/

a img {
	border: none;
}

#content a {
	display: inline;
	padding: 0;
	color: #356384;
	text-decoration: underline;
}

#content a:hover {
	color: #000000;
	text-decoration: none;
}
#content blockquote {
	color: #FF3366;
	list-style: none;
	display: block;
}
#news {
	background: url(../../images/news_bg.jpg) no-repeat;
	width: 390px;
}
#news p {
	padding-top: 45px;
	padding-left: 20px;
	padding-right: 15px;
}
#content img {
	border: thin double #356384;
}
#content li {
	float: left;
}
#content blockquote {
	color: #304D6C;
}
#content ol {
	width: 350px;
	list-style-type: none;
	float: left;
}
